<div class="container">
  <h1>About Us</h1>

  <p> Introducing PeerPulse, an innovative online platform revolutionizing peer feedback sessions in educational settings. PeerPulse simplifies and enhances the feedback process with intuitive features, allowing instructors to effortlessly manage courses and student groups while ensuring secure access through course codes or invitation links.

Instructors can publish various activities tailored to course objectives, from evaluating peer contributions to reflective writing, all seamlessly integrated with automated scoring based on instructor-defined rubrics. PeerPulse adapts to a wide range of disciplines and learning scenarios, providing a structured, transparent, and impactful feedback experience for all.   </p>

</div>
